<section class="contact">
    <div class="contact" ng-controller="ContactCtrl">
        <div class="container">
            <div class="row">
                <form name="contactForm">
                    <a href="#/about" class="btn btn-back"><i class="fa fa-arrow-left"></i>  &nbsp; Go back</a>
                    <div>
                        <h1 class="title">Contact Me</h1>
                        <label class="cc">MESSAGE <span>Feed me</span></label>
                        <div id="step1">
                            <textarea placeholder="Drop me a line, send a joke or just test the form script. It's your turn to make some content." class="bol-bhai" ng-model="msg">


                            </textarea>

                        </div>
                    </div>

                    <div class="row animated fadeInUp" ng-show="msg.length > 0">
                        <div class="col-xs-12">
                            <div>

                                <label class="cc">NAME & EMAIL <span>and who the f**k are you?</span> </label>

                                <div id="step2">
                                    <span class="cc" ng-hide="senderName.length > 0">I would like to know </span>
                                    <span class="cc" ng-show="senderName.length > 0">Hey Raman, my name is </span>
                                    <input type="text" ng-model="senderName" placeholder="your name" required name="senderName" ng-class="{'valid': 1}">
                                </div>

                                <div class="animated fadeInUp" id="step3" ng-show="senderName.length > 0">
                                    <span class="cc">you can contact me at  </span>
                                    <input type="email" name="senderEmail" ng-model="senderEmail" placeholder="this email." ng-class="{'valid': contactForm.$valid }" required>

                                </div>
                            </div>
                            <a href="#/contact" class="animated fadeInUp" ng-show="contactForm.$valid">
                                <button class="btn btn-yo">
                                    Send a Mail
                                </button>
                            </a>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>