<section>
    <div class="contact" ng-controller="ContactCtrl">
        <div class="container">
            <a href="#/about" class="btn btn-back"><i class="fa fa-arrow-left"></i>  &nbsp; Go back</a>
            <div class="row">
               <div id="thankNote" ng-show="MsgSent">
                   <h1 class="title text-center">
                   <i class="fa fa-check-circle animated bounceInTop"></i> 
                       Message sent successfully!
                   </h1>
                   <h4 class="animated bounceInTop"> I'll be reaching you ASAP! or mail me at <strong>raman@love.com</strong> </h4>
               </div>
               
                <form name="contactForm" ng-hide="MsgSent" action="https://getsimpleform.com/messages?form_api_token=a5578734cceb97538e24aaec960d68d1" method="post" id="contactForm">
                   <input type='hidden' name='redirect_to' value='http://raman.ch' />
                    <div>
                        <h1 class="title">Contact Me</h1>
                        <label class="cc">MESSAGE <span>Feed me</span></label>
                        <div id="step1">
                            <textarea placeholder="Drop me a message or send a joke. It's your turn to make content." class="bol-bhai" ng-model="msgText" autofocus>
                            </textarea>
                        </div>
                    </div>
                    <div class="row animated fadeInUp" ng-show="msgText.length > 0">
                        <div class="col-xs-12">
                            <div>
                                <label class="cc">NAME & EMAIL <span>and who  are you?</span> </label>

                                <div id="step2">
                                    <span class="cc" ng-hide="senderName.length > 0">I would like to know </span>
                                    <span class="cc" ng-show="senderName.length > 0">Hey Raman, my name is </span>
                                    <input type="text" ng-model="senderName" placeholder="your name" required name="senderName" ng-class="{'valid': 1}">
                                </div>

                                <div class="animated fadeInUp" id="step3" ng-show="senderName.length > 0">
                                    <span class="cc">you can contact me at  </span>
                                    <input type="email" name="senderEmail" ng-model="senderEmail" placeholder="this email." ng-class="{'valid': contactForm.$valid }" required>

                                </div>
                            </div>
                            <a href="#/contact" class="animated fadeInUp" ng-show="contactForm.$valid">
                                <button class="btn btn-yo" ng-click="sendMail()" id="MailBtn">
                                    Send a Mail
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>