<div class="credits" ng-controller="CreditsCtrl">
            
    <div class="container">
       <a href="#/about" class="btn btn-back"><i class="fa fa-arrow-left"></i>  &nbsp; Go back</a>
        <div class="row">
            <h1 class="title">Credits</h1>
            <h3>Credits</h3>
        </div>
        
        <div class="row">
            People
            <ul>
                <li>
                    <span id="name">Fabian Enos</span> </br>
                    <span id="help">Helped me setting up the CNAMES and Domain</span>
                </li>
                <li>
                    <span id="name">NIVEDITA R</span> </br>
                    <span id="help">Spell-checked & censored the entire site. </span>
                </li>
            </ul>
        </div>
    </div>
</div>