<div class="home-card">
    <div class="wrapper">
        <div class="row hello">
            <div class="col-xs-2">

            </div>
            <div class="col-xs-6" data-parallax="1">
                <div>
                    <h3> Hello,               
                    </h3>
                    <div class="line right small"></div>
                </div>
            </div>
            <div class="col-xs-4 hidden-xs" data-parallax="2">
                <div>
                    <img class="img-responsive meri-photo" ng-src="public/img/me.png">
                    <img ng-src="public/img/pieces.png" alt="pixels" class="pp">
                </div>
            </div>

        </div>

        <div class="row me">
            <div class="col-sm-8" data-parallax="3">
                <div>
                    <h1>I'm Raman Choudhary</h1>
                </div>
            </div>
            <div class="col-xs-4">
                <!--Offsetting Div-->
            </div>
        </div>

        <div class="row do" data-parallax="4">
            <div class="col-xs-1 hidden-xs">
                <img ng-src="public/img/pieces.png" alt="pixels" class="pp">

            </div>
            <div class="col-xs-3">
                <div class="animated">
                    <!--                    <img class="img-responsive" src="img/tools/brackets.png">-->
                    <i class="fa fa-file-code-o fa-4x icon animated"></i>
                </div>
            </div>
<!--            
\f121  code
\f247 // UX
\f036 // blog
-->


            <div class="col-xs-8">
                <div>
                    <h3>A young</h3>
                    <h1><span id="typed">Front-End Developer</span></h1>
                </div>
            </div>
        </div>

        <div class="row text-center profiles">
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                    </a>

                </div>

            </div>
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-codepen fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div>
                    <a href="#">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="row take">
            <div class="col-xs-12">
                <div>
                    <a href="#/projects" class="btn btn-yo">
                           SEE MY PROJECTS
                           </a>
                </div>
            </div>
        </div>

      
    </div>
</div>
<script>
    $(function () {
        $("#typed").typed({
            strings: ["Full Stack Designer^1000", "Innovator^1000", "Blogger^1000", "Explorer^500!^00!"],
            typeSpeed: 2,
            loop: true
        });


        $('.meri-photo').mouseenter(function () {
            $('.meri-photo').attr('ng-src', 'img/me-side.png');
        });
        $('.meri-photo').mouseleave(function () {
            $('.meri-photo').attr('ng-src', 'img/me.png');
        });

        // changing jcon based on typing
        setTimeout(function () {
            $('.icon').removeClass('fa-file-code-o');
            $('.icon').addClass('fa fa-lightbulb-o');
            console.log("it's called!");
        }, 3200);

        setTimeout(function () {
            $('.icon').removeClass('fa-lightbulb-o');
            $('.icon').addClass('fa fa-align-left');
            console.log("it's called!");
        }, 5500);

        setTimeout(function () {
            $('.icon').removeClass('fa-align-left');
            $('.icon').addClass('fa fa-globe');
            console.log("it's called!");
        }, 7500);


    });
</script>