<div class="work" ng-controller="WorkCtrl">
    <a href="#/" class="btn btn-back"><i class="fa fa-arrow-left"></i> &nbsp;<span class="hidden-xs" >Go Back</span></a>
    <div class="container">

        <div class="text-left">
            <h1 class="title text-center">
                      Projects that make me Proud
                    </h1>
            <div class="line base"></div>

            <p class="para">
                Here are few projects I work on as a student. Most of them are expriements because as a students I had the freedom to try new things. They individually represent something I really love for always learning something new.
            </p>

        </div>
        <div class="showcase clearfix">
            <div class="col-sm-6 text-right left">
                <div class="project">
                    <img class="bg" ng-src="public/img/work/bunky/logo.jpg">
                    <div class="details">
                        <h1>Bunky</h1>
                        <div class="type">
                            <a href="#/projects/bunky">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                            <span id="c">Code</span>
                        </div>
                    </div>

                </div>
                <div class="project one">

                    <img class="bg" ng-src="public/img/work/prayas/prayas.jpg">
                    <div class="details">
                        <h1>Prayas</h1>
                        <div class="type">
                            <a href="#/projects/prayas">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                            <span id="c">Code</span>
                        </div>
                    </div>

                </div>
                <div class="project two">
                    <img class="bg" ng-src="public/img/work/christcode/logo.jpg">
                    <div class="details">
                        <h1>ChristCode</h1>
                        <div class="type">
                            <a href="#/projects/christcode">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                            <span id="c">Code</span>
                        </div>
                    </div>
                </div>

                <div class="project three">
                    <img class="bg" src="public/img/work/connecto/logo.jpg">
                    <div class="details">
                        <h1>Connecto</h1>
                        <div class="type">
                           <a href="#/projects/connecto">
                            <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 right">
                <div class="project">
                    <img class="bg" ng-src="public/img/work/u25/logo.jpg">
                    <div class="details">
                        <h1>U25 Startup Summit</h1>
                        <a href="#/projects/u25">
                            <div class="type">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                        </a>
                        <span id="c">Code</span>
                        </div>
                    </div>

                </div>

                <div class="project">
                    <img class="bg" ng-src="public/img/work/howhigh/logo.jpg">
                    <div class="details">
                        <h1>HowHigh</h1>
                        <div class="type">
                            <a href="#/projects/howhigh">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img class="bg" ng-src="public/img/work/nc/logo.jpg">
                    <div class="details">
                        <h1>Natural Crown</h1>
                        <div class="type">
                           <a href="#/projects/naturalcrown">
                            <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                            <span id="c">Code</span>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <img class="bg" ng-src="public/img/work/studyalley/logo.jpg">
                    <div class="details">
                        <h1>StudyAlley</h1>
                        <div class="type">
                            <a href="#/projects/studyalley">
                                <button class="btn btn-yo">SHOW PROJECT</button>
                            </a>
                            <span id="d">Design</span>
                            <span id="c">Code</span>
                        </div>
                    </div>
                </div>

            </div>



        </div>

        <div class="row text-center next" style="margin-bottom: 100px;">
            <span class="kr">Keep Riding</span>
            <a href="#/about">
                <button class="btn btn-yo">
                    Visit About Page
                </button>
            </a>
        </div>
    </div>
</div>