<div class="resume" ng-controller="ResumeCtrl">
    <div class="header">
        <div class="container">
            <a href="#/projects" class="btn btn-back hide"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
            <div class="row">
                <div class="col-sm-6">
                    <div class="main-titles">
                        <h1 class="text-lg cre">Creative,</h1>
                        <h1 class="text-lg pas">Passionate,</h1>
                        <h1 class="text-lg"><span class="exp">&Explorer.</span></h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src="public/img/people/me-formal-1.png" alt="Raman Choudhary" class="img-responsive meri-photo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main para">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">

                    <div class="hide">
                       <h1 class="title underline">Basic Information</h1>
                        <div class="intro">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div>
                                        <h4>Name</h4>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <p>
                                            Raman Choudhary
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div>
                                        <h4>Role</h4>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <p>
                                            Frontend Developer
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div>
                                        <h4>Email</h4>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <p>
                                            hello@raman.ch
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div>
                                        <h4>Age</h4>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <p>
                                            22
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div>
                                        <h4>Phone</h4>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div>
                                        <p>
                                            +91 963-272-5300
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                        <h1 class="title underline">Summary</h1>
                        <h3 class="para h3">
                         I intend to build my career with a company driven by the product they build. Want to work with other committed and dedicated individuals who will help me to explore  myself fully and realize my potential thereby accomplishing my individual goals along with the goals of the organization and also have a continual growth in my learning and knowledge curve.
                      </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="div">
                       <h4><b>Basic Information</b></h4>
                        <table class="side-info">
                            <tr>
                                <td>Name</td>
                                <td>Raman Choudhary</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>hello@raman.ch</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>+91 963-272-5300</td>
                            </tr>
                        </table>
                        <div class="download-resume">
                            <a href="public/resume/Raman-Choudhary-Resume-Frontend%20Dev.pdf" download="Raman-Choudhary-Resume-Frontend-Dev">
                                <button><i class="fa fa-download"></i> Download Resume</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row exprience">
                <div class="col-sm-8">
                    <h1 class="title underline">Experience</h1>

                    <div>
                        <h3><strong>Codians Inc. <span class="pull pull-right">Jan'2017- present</span></strong></h3>
                        <h4>Founder/Front-end Developer</h4>
                        <ul>
                            <li>Formed Codians Inc. with college friends to revolution education section with student centric communication platform.</li>
                            <li>At Codians, we're building <i>A is student-centric collaboration platform. We are on our mission to empower students with the tools that can make them more productive in College. We call it Sorted</i></li>
                            <li>Project <a href="http://sortedapp.in">website</a>.</li>
                        </ul>
                    </div>

                    <div>
                        <h3><strong>Playment <span class="pull pull-right">May’2016-Dec’16</span></strong></h3>
                        <h4>Lead Frontend Developer</h4>
                        <ul>
                            <li>
                                After completing my higher education in April 2016. I joined Playment as Lead frontend Developer
                            </li>
                            <li>
                                Developed internal frontend stack for Playment in Complitely in React.
                            </li>
                            <li>
                                Developed static website and work closely with design and Project Managers.
                            </li>
                        </ul>
                    </div>



                    <div>
                        <h3><strong>What Can I Give <span class="pull pull-right">Aug’12-Jan’13</span></strong></h3>
                        <h4>Graphic Designer</h4>
                        <ul>
                            <li>In May 2012, Dr. A.P.J Abdul Kalam launched a program for the youth of India called the What Can I Give Movement, with a central theme of defeating corruption.</li>
                            <li>The movement strived to replace the attitude of greed and corruption that comes from the thought, "what can I take" with an attitude eponymous with the initiative.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <h1 class="title underline">
                          Education
                      </h1>

                        <div class="row">
                            <div class="col-sm-6">
                                <h4>School</h4>
                                <p><b>10th CBSE</b> : 8.0 CGPA</p>
                                <p>(Graduated in 2011 with First class) </p>
                                <p><b>Delhi Public School</b>, Jaipur, Rajasthan.</p>
                                <div class="line base"></div>
                                </br>
                                <p><b>12th CBSE</b> : 73%</p>
                                <p><i>Commerce Student</i> </p>
                                <p>(Graduated in 2013 with First Class)</p>
                                <p><b>Delhi Public School</b>, Jaipur, Rajasthan.</p>

                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <h4>Undergrad</h4>
                                    <p>
                                        <b>Bachelor of Computer Application, 3rd year</b>
                                    </p>
                                    <p><b>Christ University</b>, Bangalore, Karnataka.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">
                    Extra-Curricular
                </h1>
                    <ul>
                        <li>Won multiple inter/intra-departmental Competition by participating in technical, creative and analytical Events. </li>
                        <li>Actively involved in organizing national-level events responsible as the event head while pursuing my degree at Christ University. </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">Technical Skills</h1>
                    <p><strong>Languages</strong></p>
                    <div class="skills">
                        <span><i class="fa fa-html5"></i> HTML5</span>
                        <span><i class="fa fa-js"></i> JavaScript(ES2017)</span>
                        <span><i class="fa fa-css3"></i> CSS/SASS</span>
                        <span><i class="fa fa-php"></i> PHP</span>
                        <span><i class="fa fa-code"></i> Basic C++ & Java</span>
                        <span>...</span>
                    </div>
                    <p><strong>Frameworks</strong></p>
                    <div class="skills">
                        <span><i class="fa"></i>React</span>
                        <span><i class="fa"></i>React Native</span>
                        <span><i class="fa"></i>Redux</span>
                        <span><i class="fa fa-angularjs"></i> AngularJS</span>
                        <span><i class="fa"></i> jQuery</span>
                        <span><i class="fa"></i> Polymer</span>
                        <span><i class="fa"></i> TweenMax</span>
                        <span>...</span>
                    </div>
                    <p><strong>Tools</strong></p>
                    <div class="skills">
                        <span>Photoshop</span>
                        <span>Experience Design</span>
                        <span>Illustrator</span>
                        <span>Brackets</span>
                        <span>Git</span>
                        <span>...</span>
                    </div>
                    <p><strong>Technologies</strong></p>
                    <div class="skills">
                        <span>PhoneGap/Cordova</span>
                        <span>SVG</span>
                        <span>Web Components</span>
                        <span>...</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">Interpersonal Skills</h1>

                    <ul>
                        <li>Demonstrated ability to take constructive criticism in a positive manner.</li>
                        <li>Excellent ability to adapt to changing work environments</li>
                        <li>Encouraging attitude with a strong capability of inspiring others.</li>
                        <li>Active listening skills targeted at handling problems.</li>
                    </ul>

                </div>
            </div>
            <div class="line"></div>
            <div class="row hide">
                <div class="col-sm-8 text-center">
                    <a href="#/contact" class="no-style">
                        <button class="btn btn-yo">
                            Invite me for a Job Interview
                        </button>
                    </a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>
