
.header{
    min-height: 450px;
    background: #d6d6d6;
    overflow: hidden;
      
    img{
        transform: translatey(40px)
    }
  
}

.text-lg{
    font-size: 100px;
    font-weight: bolder;
}

.row{
    padding: 20px 0px;
}
