// helpers classes--------------------
.no-pm{
	margin: 0px;
	padding: 0px;
}

.grid-fix{
	// @include phone{
	// 	width: auto;
	// 	background: yellow;
	// }
}

button.themed{
	border-radius: 25px;
	background: transparent;
	color: #FFF;
	padding: 0px;
	height: 40px;	
	background: $base-color;

	span{
		padding: 10px 18px;
		font-weight: bold;
		font-size: 18px;
		
		position: relative;
		
		&:nth-child(2){
			left: -4px;
			border-left: 2px solid rgba(#ccc,0.2);
		}
	}
}