// Font vars
$font-logo : 'PT Serif', serif;
$font-highlight : 'Oswald', sans-serif;
$font-main : 'Varela Round', sans-serif;

//Color Vars
$base-color : #1f4ba5;

//Media Query Setup------------------
/*Screen Breakoints*/
$xs : 480px;
$sm : 767px;
$md : 979px;
$lg : 1200px;