<div class="row sec">
    <div class="col-sm-4 side">
        <div class="dts">
            <h3><span>Details</span> about the project</h3>
        </div>
    </div>

    <div class="col-sm-8 main">
        <div>
            <p class="para">
                Christ University has one of the strictest createrria for attendance. <span>85%!!</span> I paid attendance fine for all semesters. This is not just my problem but every student in our college. <span>Therefore, it needs to be solved.</span> Bunky is a unique project for various reasons. I learned how to work with Cordova, Custom APIs and developing apps for all platforms(Web/Android/iOS).
            </p>
            <p class="para">
                This was the first time I explored Google's Material Design & Apple's iOS Design Specification. Hands on exprecince with Cordova/Phonegap taugh me how precious the resources are on the mobile and this is the time to follow the well know mobile first approach for the cross-platform apps as well.
            </p>
        </div>
    </div>
</div>