<!--        <img src="img/work/bunky/header.jpg" class="bg">-->
<div class="container">
    <div class="row header">
        <div class="col-sm-4">
            <div>
                <img class="img-responsive app-logo" src="img/work/bunky/logo.png">
            </div>
        </div>
        <div class="col-sm-8 titles">
            <div>
                <h1>Bunky</h1>
                <br>
                <h4>
                              Manage your attendance like a Boss!
                           </h4>
                <br>
                <a href="http://bunky.in" target="_blank">
                    <button class="btn btn-yo">
                        LAUNCH PROJECT
                    </button>

                </a>
            </div>
        </div>
    </div>

    <div class="row stats text-center">
        <div class="col-sm-4 text-right">
        </div>

        <div class="col-xs-4 col-sm-2">
            <div class="a-stat">
                <h6>Git Commits</h6>
                <h1><i class="fa fa-github"></i></h1>
                <h4>45</h4>

            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="a-stat">
                <h6>Project Type</h6>
                <h1><i class="fa fa-users"></i></h1>
                <h4>Team</h4>

            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="a-stat">
                <h6>Role</h6>
                <h1><i class="fa fa-file-code-o"></i></h1>
                <h4>Design + Code</h4>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-4">
            <div>
                <h3 class="title text-right">
                            About the Project
                        </h3>
            </div>

        </div>
        <div class="col-xs-12 col-sm-5"></div>

    </div>


</div>