<div class="row sec">
    <div class="col-sm-4 side">
        <div class="solu">
            <h3>What is the <span>Solution</span>?</h3>
        </div>
    </div>

    <div class="col-sm-8 main">
        <div>
            <p class="para">
                <!--                                Creating an easy to user application that analysis your attendance and bunking patterns and guide you houw to maintain your attendance and also help you to Bunk those borring classes.-->
                {{solution}}


            </p>
        </div>
    </div>
</div>