<section>
  
        <header>
   <div class="header-bg">
       <div class="container">
             <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
            <div class="row header">
        <div class="col-sm-8">
           <div class="titles">
                <h1>Bunky</h1>
                <br>
                <h4>
                              Manage your attendance like a Boss!
                           </h4>
                <br>
                <a href="http://bunky.in" target="_blank">
                    <button class="btn btn-yo">
                        LAUNCH PROJECT
                    </button>

                </a>
            </div>
             <div>
                 <div class="row stats text-center">

        <div class="col-xs-4 col-sm-3">
            <div class="a-stat">
                <h6>Git Commits</h6>
                <h1><i class="fa fa-github"></i></h1>
                <h4>45</h4>

            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="a-stat">
                <h6>Project Type</h6>
                <h1><i class="fa fa-users"></i></h1>
                <h4>Team</h4>

            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <div class="a-stat">
                <h6>Role</h6>
                <h1><i class="fa fa-file-code-o"></i></h1>
                <h4>Design + Code</h4>

            </div>
        </div>
    </div>
             </div>
        </div>
        <div class="col-sm-4">
            <img src="public/img/work/bunky/phone.png" class="img-responsive" id="headerImg">
        </div>
    </div>
           
       </div>
   </div>
   
    <div class="project" ng-cpntroller="ProjectCtrl">
       
<div class="container">
   <div class="row">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-4">
            <div>
                <h3 class="title text-right">
                            About the Project
                        </h3>
            </div>

        </div>
        <div class="col-xs-12 col-sm-5"></div>

    </div>


</div>
        </header>

        <div class="container">
            <!--    header row-->

            <div class="qw">
                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="pb">
                            <h3>What was the <span>Problem</span> ?</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                                Managing attendance in college is a B**ch!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="solu">
                            <h3>What is the <span>Solution</span>?</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                                Creating an easy to user application that analysis your attendance and bunking patterns and guide you houw to maintain your attendance and also help you to Bunk those borring classes.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="dts">
                            <h3><span>Details</span> about the project</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                                Christ University has one of the strictest createrria for attendance. <span>85%!!</span> I paid attendance fine for all semesters. This is not just my problem but every student in our college. <span>Therefore, it needs to be solved.</span> Bunky is a unique project for various reasons. I learned how to work with Cordova, Custom APIs and developing apps for all platforms(Web/Android/iOS).
                            </p>
                            <p class="para">
                                This was the first time I explored Google's Material Design & Apple's iOS Design Specification. Hands on exprecince with Cordova/Phonegap taugh me how precious the resources are on the mobile and this is the time to follow the well know mobile first approach for the cross-platform apps as well.

                            </p>

                        </div>
                    </div>
                </div>


                <div class="row design">
                    <div class="col-sm-4">

                        <div class="side">
                            <div class="app-type">
                                <h3>Type</h3>
                                <h1>Web App <i class="fa fa-globe"></i></h1>
                            </div>
                        </div>


                        <div class="side">
                            <h3>Colors</h3>
                            <div class="row colors">
                                <div class="cbox">

                                    <!--green-->
                                    <div class="box" style="background:#59B95F ;"></div>
                                    <span>#59B95F</span>
                                </div>

                                <div class="cbox">
                                    <!--                                   bunky theme color-->
                                    <div class="box" style="background:#32C2CA ;"></div>
                                    <span>#32C2CA</span>
                                </div>

                                <div class="cbox">
                                    <div class="box" style="background:#e1e1e1;"></div>
                                    <span>#E1E1E1</span>
                                </div>

                            </div>
                        </div>
                        <div class="side">
                            <h3>Technologies</h3>
                            <div class="platforms">
                                <span>HTML5</span>
                                <span>CSS3</span>
                                <span>JavaScript</span>
                                <span>AngularJS</span>
                                <span>Bootstrap</span>
                            </div>

                        </div>

<!--
                        <div class="side">
                            <h3>Totals Users</h3>
                            <h1 class="title">5000+</h1>

                        </div>
-->

                        <div class="side">
                            <h3>Worked With</h3>
                            <div class="worked-with">
                                <div>
                                    <h4>Fabian Enos</h4>
                                    <h6>Founder, Midnight Coder</h6>
                                </div>
                                <img class="img-responsive img-circle" ng-src="img/people/fabian.jpg">
                            </div>

                        </div>


                    </div>
                    <div class="col-sm-8">
                        <div class="design-img">
                            <img src="public/img/work/bunky/web.jpg" class="img-responsive">
                            <img src="public/img/work/bunky/app-1.jpg" class="img-responsive">
                            <img src="public/img/work/bunky/laptop.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
                </div>
            </div>
        </div>
    </div>
</section>