<section class="project" ng-controller="ProjectCtrl">
    <header>
        <div class="header-bg" style="background-color:#151515;">
            <div class="container">
                <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
                <div class="row header">
                    <div class="col-sm-8">
                        <div class="titles">
                            <h1 style="background-color:#393939;">ChristCode</h1>
                            <br>
                            <h4 style="background-color:#4d4b4b;">Solve the greatest Puzzle Ever.
                       </h4>
                            <br>
                            <a href="http://bunky.in" target="_blank">
                                <button class="btn btn-yo btn-white">
                                    LAUNCH PROJECT
                                </button>
                            </a>
                        </div>
                        <div>
                            <div class="row stats text-center">

                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Git Commits</h6>
                                        <h1><i class="fa fa-github"></i></h1>
                                        <h4>45</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Project Type</h6>
                                        <h1><i class="fa fa-users"></i></h1>
                                        <h4>Team</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Role</h6>
                                        <h1><i class="fa fa-file-code-o"></i></h1>
                                        <h4>Design + Code</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="public/img/work/christcode/9.jpg" class="img-responsive" id="headerImg">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
    </header>



    <div class="container">
        <!--    header row-->

        <div class="qw">
            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="pb">
                        <h3>What was the <span>Problem</span> ?</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
                            Second semester was really boring.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="solu">
                        <h3>What is the <span>Solution</span>?</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
                            Do something cool!

                        </p>
                    </div>
                </div>
            </div>

            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="dts">
                        <h3><span>Details</span> about the project</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
                            ChristCode is a puzzle solving game, where we challenge user’s Sherlock instinct. First version was released on {{date}}. Since then we launched 4 version of ChristCode, one for each semester. This project helped me scratch my limits as a programmer. For the first time I used git to manage my project. And now all my projects starts with git init. Every semester ChristCode had around 500 loyal users, which provided us great opportunity to test our new modules. Like chat, store, Facebook and Twitter APIs.
                        </p>

                        <img ng-src="public/img/work/christcode/pageview.jpg" class="img-responsive center-it">

                        <p class="para text-center">
                            Google Analytics During ChristCode

                        </p>

                    </div>
                </div>
            </div>


            <div class="row design">
                <div class="col-sm-4">


                    <div class="side">
                        <div class="app-type">
                            <h3>Type</h3>

                            <h1>Web App <i class="fa fa-globe"></i></h1>
                        </div>
                    </div>

                    <div class="side">
                        <h3>Colors</h3>
                        <div class="row colors">

                            <div class="cbox">
                                <div class="box" style="background: #151515;"></div>
                                <span>#151515</span>
                            </div>

                            <div class="cbox">
                                <div class="box" style="background: #393939;"></div>
                                <span>#393939</span>
                            </div>

                            <div class="cbox">
                                <div class="box" style="background: #096986;"></div>
                                <span>#393939</span>
                            </div>

                        </div>
                    </div>
                    <div class="side">
                        <h3>Technologies</h3>
                        <div class="platforms">
                            <span>NodeJS</span>
                            <span>MySQL</span>
                            <span>HTML5</span>
                            <span>CSS3</span>
                            <span>JavaScript</span>
                            <span>AngularJS</span>
                            <span>Bootstrap</span>
                        </div>

                    </div>

                    <div class="side">
                        <h3>Totals Users</h3>
                        <h1 class="title">500+</h1>

                    </div>
                    
                    <div class="side">
                        <h3>Worked With</h3>
                        <div class="worked-with">
                            <div>
                                <h4>Fabian Enos</h4>
                                <h6>Founder, Midnight Coder</h6>
                            </div>
                            <img class="img-responsive img-circle" ng-src="public/img/people/fabian.jpg">
                        </div>
                        

                    </div>
                    
                    
                </div>
                <div class="col-sm-8">
                    <div class="design-img">
                        <img src="public/img/work/christcode/mob-app.png" class="img-responsive">
                        <img src="public/img/work/christcode/history.png" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
            </div>
        </div>
    </div>
</section>