<section>
    <div class="project" ng-controller="ProjectCtrl">

 <header>
        <div class="header-bg" style="background-color:#060709;">
            <div class="container">
                <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
                <div class="row header">
                    <div class="col-sm-8">
                        <div class="titles">
                            <h1>HowHigh</h1>
                            <br>
                       </h4>
                            <br>
                            <a href="https://play.google.com/store/apps/details?id=com.codians.HowHigh" target="_blank">
                                <button class="btn btn-yo btn-white">
                                    LAUNCH PROJECT
                                </button>
                            </a>
                        </div>
                        <div>
                            <div class="row stats text-center">

                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Game Rating</h6>
                                        <h1><i class="fa fa-star-o"></i></h1>
                                        <h4>4.7</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Project Type</h6>
                                        <h1><i class="fa fa-users"></i></h1>
                                        <h4>Team</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Role</h6>
                                        <h1><i class="fa fa-file-code-o"></i></h1>
                                        <h4>Design</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="public/img/work/howhigh/poster.jpg" class="img-responsive" id="headerImg">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
    </header>


        <div class="container">
            <!--    header row-->

            <div class="qw">

                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="dts">
                            <h3><span>Details</span> about the project</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                                HowHigh has a crazy story how it began. And this is also our first <span>Game</span>. It helped me learn deep concepts like <span>Gamification by Design</span>, <span>Asset Management</span> and PlayStore Services.

                            </p>

                        </div>
                    </div>
                </div>


                <div class="row design">
                    <div class="col-sm-4">

                        <div class="side">
                            <div class="app-type">
                                <h3>Type</h3>
                                <h1>Mobile Game <i class="fa fa-gamepad"></i></h1>

                                <h1>Static Webpage <i class="fa fa-globe"></i></h1>
                            </div>
                        </div>



                        <div class="side">
                            <h3>Technologies</h3>
                            <div class="platforms">
                                <span>Unity Engine</span>
                            </div>
                        </div>

                        <!--
                        <div class="side">
                            <h3>Totals Users</h3>
                            <h1 class="title">5000+</h1>

                        </div>
-->

                        <div class="side">
                            <h3>Worked With</h3>
                            <div class="worked-with">
                                <div>
                                    <h4>Karan Bhavnani</h4>
                                </div>
                                <img class="img-responsive img-circle" ng-src="public/img/people/karan.jpg">
                            </div>

                        </div>


                    </div>
                    <div class="col-sm-8">
                        <div class="design-img">
                            <img src="public/img/work/howhigh/web.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
                </div>
            </div>
        </div>
    </div>
</section>