<!--U25 Startup Summit-->
<section>
    <div class="project" ng-cpntroller="ProjectCtrl">
   <header>
        <div class="header-bg" style="background-color:#1BBC9B;">
            <div class="container">
                <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
                <div class="row header">
                    <div class="col-sm-8">
                        <div class="titles">
                            <h1>NaturalCrown</h1>
                            <br>
                       </h4>
                            <br>
                            <a href="http://naturalcrown.co" target="_blank">
                                <button class="btn btn-yo btn-white">
                                    LAUNCH PROJECT
                                </button>
                            </a>
                        </div>
                        <div>
                            <div class="row stats text-center">

                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Git Commits</h6>
                                        <h1><i class="fa fa-github"></i></h1>
                                        <h4>45</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Project Type</h6>
                                        <h1><i class="fa fa-users"></i></h1>
                                        <h4>Team</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Role</h6>
                                        <h1><i class="fa fa-file-code-o"></i></h1>
                                        <h4>Design + Code</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
    </header>


        <div class="container">
            <!--    header row-->

            <div class="qw">
                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="pb">
                            <h3>Client's Requirements</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                               Showcase Natural Crown Dental Lab services and allow Doctors to fix appointments. 
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="dts">
                            <h3><span>Details</span> about the project</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                               Natural Crown is one of the leading Dental Lab in Rajasthan and creating a website for such a client always thought me something new.
                            </p>

                        </div>
                    </div>
                </div>


                <div class="row design">
                    <div class="col-sm-4">
                       
                          <div class="side">
                            <div class="app-type">
                                <h3>Type</h3>
                                <h1>Static Page <i class="fa fa-globe"></i></h1>
                            </div>
                        </div>
                       
                        <div class="side">
                            <h3>Colors</h3>
                            <div class="row colors">

                                <div class="cbox">
                                    <div class="box" style="background: #50CD65;"></div>
                                    <span>#50CD65</span>
                                </div>

                                <div class="cbox">
                                    <div class="box" style="background: #84A1B7;"></div>
                                    <span>#84A1B7</span>
                                </div>

                                <div class="cbox">
                                    <div class="box" style="background: #3A3A3A;"></div>
                                    <span>#3A3A3A</span>
                                </div>

                            </div>
                        </div>
                        <div class="side">
                            <h3>Technologies</h3>
                            <div class="platforms">
                                <span>HTML5</span>
                                <span>CSS3</span>
                                <span>JavaScript</span>
                                <span>Bootstrap</span>
                                <span>JQuery</span>
                            </div>
                        </div>

<!--
                        <div class="side">
                            <h3>Worked With</h3>
                            <div class="worked-with">
                                <div>
                                    <h4>Sant Monte</h4>
                                    <h6>Co-founder, Something</h6>
                                </div>
 <img class="img-responsive img-circle" ng-src="img/people/sant.jpg">
                            </div>
                        </div>
-->




                    </div>
                    <div class="col-sm-8">
                        <div class="design-img">
                            <img src="public/img/work/nc/mock.jpg" class="img-responsive">
                            <img src="public/img/work/nc/web.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
                </div>
            </div>
        </div>
    </div>
</section>