<!--U25 Startup Summit-->
<section class="project" ng-controller="ProjectCtrl">
<header ng-controller="ProjectHeaderCtrl">
    <div class="header-bg" style="background-color:#91AE42;" id="ProjectHeader">{{test}}
        <div class="container">
            <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
            <div class="row header">
                <div class="col-sm-8">
                    <div class="titles">
                        <h1 style="background-color:#FFF; color: #444;">Prayas 2014-2015</h1>
                        <br>

                        <br>
                        <a href="http://bunky.in" target="_blank">
                            <button class="btn btn-yo btn-white" disabled>
                                LAUNCH PROJECT
                            </button>

                        </a>
                    </div>
                    <div>
                        <div class="row stats text-center">

                            <div class="col-xs-4 col-sm-3">
                                <div class="a-stat">
                                    <h6>Git Commits</h6>
                                    <h1><i class="fa fa-github"></i></h1>
                                    <h4>45</h4>

                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <div class="a-stat">
                                    <h6>Project Type</h6>
                                    <h1><i class="fa fa-users"></i></h1>
                                    <h4>Team</h4>

                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <div class="a-stat">
                                    <h6>Role</h6>
                                    <h1><i class="fa fa-file-code-o"></i></h1>
                                    <h4>Design + Code</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="public/img/work/prayas/logo.JPG" class="img-responsive" id="headerImg">
                </div>
            </div>

        </div>
    </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
</header>
   

        <div class="container">
            <!--    header row-->

            <div class="qw">
                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="pb">
                            <h3>Client's Requirements</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                                Single Page website to showcase all the events organised during Prayas Fest. 
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row sec">
                    <div class="col-sm-4 side">
                        <div class="dts">
                            <h3><span>Details</span> about the project</h3>
                        </div>
                    </div>

                    <div class="col-sm-8 main">
                        <div>
                            <p class="para">
                             Prayas is a <span>National-Level Fest</span> The concept of an economy and learn to master it. The contingent with the best understanding of an economy will be able to exploit the market conditions, employ resources efficiently and dictate the results of legal and political battles to emerge as the most successful contingent. At the culmination of the fest, the team that will the economy that it operates in to further its interests in the portfolio that it manages, and this being quantified in terms of their net worth and influence will be adjudged as the winner of the Prayas 2015 – The Faux Economy.

                            </p>

                        </div>
                    </div>
                </div>


                <div class="row design">
                    <div class="col-sm-4">
                       
                            <div class="side">
                            <div class="app-type">
                                <h3>Type</h3>
                                <h1>Static Webpage <i class="fa fa-globe"></i></h1>
                            </div>
                        </div>

                       
                        <div class="side">
                            <h3>Colors</h3>
                            <div class="row colors">

                                <div class="cbox">
                                    <div class="box" style="background: #4169E1;"></div>
                                    <span>#4169E1</span>
                                </div>
                                <div class="cbox">
                                    <div class="box" style="background: #f1f1f1;"></div>
                                    <span>#F1F1F1</span>
                                </div>

                            </div>
                        </div>
                        <div class="side">
                            <h3>Technologies</h3>
                            <div class="platforms">
                                <span>HTML5</span>
                                <span>CSS3</span>
                                <span>JavaScript</span>
                                <span>Bootstrap</span>
                                <span>JQuery</span>
                            </div>
                        </div>

                        <div class="side">
                            <h3>Worked With</h3>
                            <div class="worked-with">
                                <div>
                                    <h4>Fabian Enos</h4>
                                    <h6>Founder, Midnight Labs</h6>
                                </div>
 <img class="img-responsive img-circle" ng-src="public/img/people/fabian.jpg">
                            </div>
                        </div>




                    </div>
                    <div class="col-sm-8">
                        <div class="design-img">
                            <img src="public/img/work/prayas/web.png" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
                </div>
            </div>
        </div>
    </div>
</section>